<ng-container *ngIf="relatorio.arisp.data">
  <ng-container *ngFor="let arisp of relatorio.arisp.data">
    <div class="row">
      <div class="col-md-12">
        <a><b>Cidade:</b> {{arisp.cidade}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a><b>Cartório:</b> {{arisp.cartorio}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a><b>Matrícula:</b> {{arisp.matricula}}</a>
      </div>
    </div>

    <ng-container *ngIf="arisp.anexo.nome_arquivo">
      <div class="row noPrint">
        <div class="col-md-12">
          <button id="{{arisp.anexo.nome_arquivo}}" matTooltip="Download do Arquivo"
            (click)="downloadPDF(arisp.anexo.nome_arquivo, arisp)" mat-raised-button
            color="primary">{{arisp.anexo.nome_arquivo}}</button>
        </div>
        <br>
        <br>
      </div>
    </ng-container>
    <hr>
  </ng-container>
</ng-container>

<ng-container *ngIf="relatorio.arisp.erro">
  <a>{{relatorio.arisp.erro}}</a>
</ng-container>