<ng-container *ngIf="relatorio.detran.data">
  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <img *ngIf="relatorio.detran.data.anexo[0].arquivo" [src]="exibirFoto()">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <a><b>Nome Condutor: </b> {{relatorio.detran.data.dadosCNH.nomeCondutor}}</a>
    </div>
    <div class="col-md-4">
      <a><b>RENACH: </b> {{relatorio.detran.data.dadosCNH.renach}}</a>
    </div>
    <div class="col-md-4">
      <a><b>Registro: </b>{{relatorio.detran.data.dadosCNH.registro}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a><b>Nascimento: </b> {{relatorio.detran.data.dadosCNH.nascimento}}</a>
    </div>
    <div class="col-md-4">
      <a><b>Emissão: </b> {{relatorio.detran.data.dadosCNH.emissao}}</a>
    </div>
    <div class="col-md-4">
      <a><b>Categoria: </b>{{relatorio.detran.data.dadosCNH.categoria}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a><b>Nome do Pai: </b> {{relatorio.detran.data.dadosCNH.nomePai}}</a>
    </div>
    <div class="col-md-4">
      <a><b>Nome da Mãe: </b> {{relatorio.detran.data.dadosCNH.nomeMae}}</a>
    </div>
    <div class="col-md-4">
      <a><b>Identidade: </b>{{relatorio.detran.data.dadosCNH.identidade}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a><b>CPF: </b> {{relatorio.detran.data.dadosCNH.cpf}}</a>
    </div>
    <div class="col-md-4">
      <a><b>Tipográfico: </b> {{relatorio.detran.data.dadosCNH.tipografico}}</a>
    </div>
  </div>

  <hr class="noPrint">

  <h5 class="noPrint">Anexos</h5>

  <hr class="noPrint">
  <div class="row noPrint">
    <ng-container *ngFor="let anexo of relatorio.detran.data.anexo">
      <ng-container *ngIf="anexo.nome_arquivo">
        <div class="col-md-12">
          <button [disabled]="!anexo.arquivo" (click)="download(anexo.arquivo, anexo.nome_arquivo)"
            class="btn btn-success noPrint">
            <mat-icon>attachment</mat-icon> {{anexo.nome_arquivo}}
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="relatorio.detran.erro">
  <a>{{relatorio.detran.erro}}</a>
</ng-container>