<ng-container *ngIf="relatorio.jucesp.data.nomeEmpresa">
  <div class="row">
    <div class="col-md-6">
      <a><b>Nome Empresa: </b> {{relatorio.jucesp.data.nomeEmpresa}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Tipo:</b> {{relatorio.jucesp.data.tipoEmpresa}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Data Constituição: </b> {{relatorio.jucesp.data.dataConstituicao}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Data Início Atividade:</b> {{relatorio.jucesp.data.dtIniAtiv}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>CNPJ:</b> {{relatorio.jucesp.data.cnpj}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Inscrição Estadual:</b> {{relatorio.jucesp.data.ie}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a><b>Objeto:</b> {{relatorio.jucesp.data.objeto}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a><b>Capital:</b> {{relatorio.jucesp.data.capital}}</a>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5>Endereço</h5>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <a><b>Logradouro:</b> {{relatorio.jucesp.data.endereco.logradouro}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Número:</b> {{relatorio.jucesp.data.endereco.numero}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Complemento:</b> {{relatorio.jucesp.data.endereco.complemento}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Bairro:</b> {{relatorio.jucesp.data.endereco.bairro}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Município</b> {{relatorio.jucesp.data.endereco.municipio}}</a>
    </div>
    <div class="col-md-6">
      <a><b>CEP:</b> {{relatorio.jucesp.data.endereco.cep}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>UF:</b> {{relatorio.jucesp.data.endereco.uf}}</a>
    </div>
  </div>

  <hr class="noPrint">

  <h5 class="noPrint">Anexo</h5>

  <hr class="noPrint">

  <ng-container *ngIf="relatorio.jucesp.data.anexo.arquivo">
    <div class="row noPrint">
      <div class="col-md-12">
        <button (click)="downloadPDF(relatorio.jucesp.data.anexo.arquivo, relatorio.jucesp.data.anexo.nome_arquivo)"
          mat-raised-button color="warn">{{relatorio.jucesp.data.anexo.nome_arquivo}}</button>
      </div>
      <br>
      <br>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="relatorio.jucesp.erro">
  {{relatorio.jucesp.erro}}
</ng-container>