<ng-container class="noPrint">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-dark">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">Relatório de Resultados</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a mat-button class="nav-link active" href="#arisp" data-toggle="tab">
                    ARISP
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#arpensp" data-toggle="tab">
                    ARPENSP
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#cadesp" data-toggle="tab">
                    CADESP
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#caged" data-toggle="tab">
                    CAGED
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#censec" data-toggle="tab">
                    CENSEC
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#detran" data-toggle="tab">
                    DETRAN
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#infocrim" data-toggle="tab">
                    INFOCRIM
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#jucesp" data-toggle="tab">
                    JUCESP
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#siel" data-toggle="tab">
                    SIEL
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#sivec" data-toggle="tab">
                    SIVEC
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="arisp">

              <ng-container *ngIf="relatorio.arisp">
                <app-arisp [relatorio]="relatorio"></app-arisp>
              </ng-container>

              <ng-container *ngIf="!relatorio.arisp">
                <a>Dados não solicitados.</a>
              </ng-container>

            </div>

            <div class="tab-pane" id="arpensp">

              <ng-container *ngIf="relatorio.arpensp">
                <app-arpensp [relatorio]="relatorio"></app-arpensp>
              </ng-container>

              <ng-container *ngIf="!relatorio.arpensp">
                <a>Dados não solicitados</a>
              </ng-container>

            </div>

            <div class=" tab-pane" id="cadesp">

              <ng-container *ngIf="relatorio.cadesp">
                <app-cadesp [relatorio]="relatorio"></app-cadesp>
              </ng-container>

              <ng-container *ngIf="!relatorio.cadesp">
                <a>Dados não solicitados</a>
              </ng-container>
            </div>

            <div class="tab-pane" id="caged">
              <ng-container *ngIf="relatorio.caged">
                <app-caged [relatorio]="relatorio"></app-caged>
              </ng-container>

              <ng-container *ngIf="!relatorio.caged">
                <a>Dados não solicitados</a>
              </ng-container>

            </div>

            <div class="tab-pane" id="censec">
            </div>

            <div class="tab-pane" id="detran">
              <ng-container *ngIf="relatorio.detran">
                <app-detran [relatorio]="relatorio"></app-detran>
              </ng-container>
              <ng-container *ngIf="!relatorio.detran">
                <a>Dados não solicitados</a>
              </ng-container>

            </div>
            <div class="tab-pane" id="infocrim">
            </div>
            <div class="tab-pane" id="jucesp">
            </div>
            <div class="tab-pane" id="siel">
            </div>
            <div class="tab-pane" id="sivec">
            </div>
          </div>
          <button class="pull-right" color="accent" mat-raised-button>Gerar PDF</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>