<ng-container class="noPrint">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-dark">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">Relatório de Resultados</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a mat-button class="nav-link active" href="#arisp" data-toggle="tab">
                    ARISP
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#arpensp" data-toggle="tab">
                    ARPENSP
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#cadesp" data-toggle="tab">
                    CADESP
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#caged" data-toggle="tab">
                    CAGED
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#censec" data-toggle="tab">
                    CENSEC
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#detran" data-toggle="tab">
                    DETRAN
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#infocrim" data-toggle="tab">
                    INFOCRIM
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#jucesp" data-toggle="tab">
                    JUCESP
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#siel" data-toggle="tab">
                    SIEL
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#sivec" data-toggle="tab">
                    SIVEC
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="arisp">
              <ng-container *ngIf="relatorio.arisp.dados">
                <ng-container *ngFor="let arisp of relatorio.arisp.dados">
                  <div class="row">
                    <a>Cidade: {{arisp.cidade}}</a>
                  </div>
                  <div class="row">
                    <a>Cartório: {{arisp.cartorio}}</a>
                  </div>
                  <div class="row">
                    <a>Matrícula: {{arisp.matricula}}</a>
                  </div>
                  <hr>
                </ng-container>
              </ng-container>
            </div>
            <div class="tab-pane" id="arpensp">
              <ng-container *ngIf="relatorio.arpensp.cartorio">
                <div class="row">
                  <div class="col-md-6">
                    <a>Cartório: {{relatorio.arpensp.cartorio}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>CNS: {{relatorio.arpensp.cns}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Nome do Cônjuge 1: {{relatorio.arpensp.conjuge1}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Nome do Cônjuge 2: {{relatorio.arpensp.conjuge2}}</a>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-12">
                    <h5><b>Dados do Casamento</b></h5>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-2">
                    <a>Matrícula: {{relatorio.arpensp.dadosCasamento.matricula}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Nome do Cônjuge 1 após casamento:
                      {{relatorio.arpensp.dadosCasamento.conjuge1Casamento}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Nome do Cônjuge 2 após casamento:
                      {{relatorio.arpensp.dadosCasamento.conjuge2Casamento}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Data do Casamento:
                      {{relatorio.arpensp.dadosCasamento.dataCasamento}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Data de Entrada:
                      {{relatorio.arpensp.dadosCasamento.dataEntrada}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Data do Registro:
                      {{relatorio.arpensp.dadosCasamento.dataRegistro}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Acervo: {{relatorio.arpensp.dadosCasamento.acervo}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Número do Livro:
                      {{relatorio.arpensp.dadosCasamento.numLivro}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Número da Folha
                      {{relatorio.arpensp.dadosCasamento.numFolha}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Número do Registro
                      {{relatorio.arpensp.dadosCasamento.numRegistro}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Tipo do Livro:
                      {{relatorio.arpensp.dadosCasamento.tipoLivro}}</a>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!relatorio.arpensp.cartorio">
                <a>{{ relatorio.arpensp }}</a>
              </ng-container>
            </div>
            <div class=" tab-pane" id="cadesp">
              <ng-container *ngIf="relatorio.cadesp !== undefined && relatorio.cadesp !== null">
                <div class="row">
                  <div class="col-md-12">
                    <h5><b>Cabeçalho</b></h5>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <a>Nome Empresa: {{relatorio.cadesp.cabecalho.nomeEmpresa}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>CNPJ: {{relatorio.cadesp.cabecalho.cnpj}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Inscrição Estadual: {{relatorio.cadesp.cabecalho.ie}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>DRT: {{relatorio.cadesp.cabecalho.drt}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Situação: {{relatorio.cadesp.cabecalho.situacao}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Data da Inscrição: {{relatorio.cadesp.cabecalho.dataInscricao}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Regime: {{relatorio.cadesp.cabecalho.regime}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Posto: {{relatorio.cadesp.cabecalho.posto}}</a>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-12">
                    <h5><b>Dados Gerais</b></h5>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <a>Nome Fantasia: {{relatorio.cadesp.geral.nomeFantasia}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>CNPJ: {{relatorio.cadesp.geral.cnpj}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Inscrição Estadual: {{relatorio.cadesp.geral.ie}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>NIRE: {{relatorio.cadesp.geral.nire}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Situação Cadastral: {{relatorio.cadesp.geral.sitCadastral}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Ocorrência Fiscal: {{relatorio.cadesp.geral.ocorrenciaFiscal}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Tipo Unidade: {{relatorio.cadesp.geral.tipoUnidade}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Data Inscrição Estado: {{relatorio.cadesp.geral.dtInscricaoEstado}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Data Início IE: {{relatorio.cadesp.geral.dtInicioIE}}</a>
                  </div>
                  <div class="col-md-6">
                    <a>Data Início Situação: {{relatorio.cadesp.geral.dtInicioSituacao}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a>Forma de Atuação: {{relatorio.cadesp.geral.formasAtuacao}}</a>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="relatorio.cadesp === undefined || relatorio.cadesp === null">
                <a>Dados não encontrados</a>
              </ng-container>
            </div>
            <div class="tab-pane" id="caged">
            </div>
            <div class="tab-pane" id="censec">
            </div>
            <div class="tab-pane" id="detran">
            </div>
            <div class="tab-pane" id="infocrim">
            </div>
            <div class="tab-pane" id="jucesp">
            </div>
            <div class="tab-pane" id="siel">
            </div>
          </div>
          <button class="pull-right" color="accent" mat-raised-button>Gerar PDF</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>