<ng-container *ngIf="relatorio.sivec.data">
  <div class="row">
    <div class="col-md-12">
      <h4><b>SIVEC - Dados Pessoais</b></h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <a><b>Nome:</b> {{relatorio.sivec.data.geral.nome}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Data Nascimento:</b> {{relatorio.sivec.data.geral.dataNascimento}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Número VEC:</b> {{relatorio.sivec.data.geral.numeroControleVEC}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Sexo:</b> {{relatorio.sivec.data.geral.sexo}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>RG:</b> {{relatorio.sivec.data.geral.rg}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Tipo RG:</b> {{relatorio.sivec.data.geral.tipoRG}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Data Emissão RG:</b> {{relatorio.sivec.data.geral.dataEmissaoRG}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Estado Civil:</b> {{relatorio.sivec.data.geral.estadoCivil}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Naturalizado:</b> {{relatorio.sivec.data.geral.naturalizadoSN}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Grau de Instrução:</b> {{relatorio.sivec.data.geral.grauInstrucao}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Nome do Pai:</b> {{relatorio.sivec.data.geral.nomePai}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Nome da Mãe:</b> {{relatorio.sivec.data.geral.nomeMae}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Cor da Pele:</b> {{relatorio.sivec.data.geral.corPele}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Alcunha:</b> {{relatorio.sivec.data.geral.alcunha}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Naturalidade:</b> {{relatorio.sivec.data.geral.naturalidade}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Posto Identificação:</b> {{relatorio.sivec.data.geral.postoIdentificacao}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Formula Fundamental:</b> {{relatorio.sivec.data.geral.formulaFundamental}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Cor dos Olhos:</b> {{relatorio.sivec.data.geral.corOlhos}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Cabelos:</b> {{relatorio.sivec.data.geral.cabelo}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Profissão:</b> {{relatorio.sivec.data.geral.profissao}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Endereço Residencial:</b> {{relatorio.sivec.data.geral.residencial}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Trabalho:</b> {{relatorio.sivec.data.geral.trabalho}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Nome Adicional:</b> {{relatorio.sivec.data.geral.nomeAdicional}}</a>
    </div>
    <div class="col-md-6">
      <a><b>RG Adicional:</b> {{relatorio.sivec.data.geral.rgAdicional}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Data Nascimento Adicional:</b> {{relatorio.sivec.data.geral.dataNascimentoAdicional}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Naturalidade Adicional:</b> {{relatorio.sivec.data.geral.naturalidadeAdicional}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a><b>Nome do Pai Adicional:</b> {{relatorio.sivec.data.geral.nomePaiAdicional}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a><b>Nome da Mãe Adicional:</b> {{relatorio.sivec.data.geral.nomeMaeAdicional}}</a>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="relatorio.sivec.erro">
  {{relatorio.sivec.erro}}
</ng-container>