<form [formGroup]="formulario">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title mt-0">
            <mat-icon>folder_shared</mat-icon> Dados para Consulta
          </h4>
          <p class="card-category"> Informe os dados que deseja consultar nos portais</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field><input name="nome" (change)="changed($event)" formControlName="nome" matInput
                  placeholder="Nome Completo"></mat-form-field>
              <app-error-msg [control]="formulario.get('nome')"></app-error-msg>
            </div>
            <div class="col-md-6">
              <mat-form-field><input name="cpf" (change)="changed($event)" formControlName="cpf" matInput
                  placeholder="CPF">
              </mat-form-field>
              <app-error-msg [control]="formulario.get('cpf')"></app-error-msg>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field><input name="rg" (change)="changed($event)" formControlName="rg" matInput
                  placeholder="RG">
              </mat-form-field>
              <app-error-msg [control]="formulario.get('rg')"></app-error-msg>
            </div>
            <div class="col-md-6">
              <mat-form-field><input name="placaVeiculo" (change)="changed($event)" formControlName="placaVeiculo"
                  matInput placeholder="Placa do Veículo">
              </mat-form-field>
              <app-error-msg [control]="formulario.get('placaVeiculo')"></app-error-msg>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field><input name="razaoSocial" (change)="changed($event)" formControlName="razaoSocial"
                  matInput placeholder="Razão Social">
              </mat-form-field>
              <app-error-msg [control]="formulario.get('razaoSocial')"></app-error-msg>
            </div>
            <div class="col-md-6">
              <mat-form-field><input name="cnpj" (change)="changed($event)" formControlName="cnpj" matInput
                  placeholder="CNPJ">
              </mat-form-field>
              <app-error-msg [control]="formulario.get('cnpj')"></app-error-msg>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field><input name="numProcesso" (change)="changed($event)" formControlName="numProcesso"
                  matInput placeholder="Número do Processo">
              </mat-form-field>
              <app-error-msg [control]="formulario.get('numProcesso')"></app-error-msg>
            </div>
            <div class="col-md-6">
              <mat-form-field><input name="matriculaSap" (change)="changed($event)" formControlName="matriculaSap"
                  matInput placeholder="Matrícula Sap">
              </mat-form-field>
              <app-error-msg [control]="formulario.get('matriculaSap')"></app-error-msg>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button [disabled]="consultando || !formulario.valid" (click)="onSubmit()" mat-raised-button
                class="btn btn-success pull-right">
                <a *ngIf="!consultando">Consultar</a>
                <mat-spinner *ngIf="consultando" [diameter]="20"></mat-spinner>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title mt-0">
            <mat-icon>airplay</mat-icon> Portais
          </h4>
          <p class="card-category"> Selecione os Portais para Consultar</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <mat-checkbox formControlName="checkArisp">Arisp <mat-spinner
                  *ngIf="consultando && formulario.get('checkArisp').value === true" [diameter]="15">
                </mat-spinner>
              </mat-checkbox>
            </div>
            <div class="col-md-4">
              <mat-checkbox formControlName="checkArpensp">Arpensp <mat-spinner
                  *ngIf="consultando && formulario.get('checkArpensp').value === true" [diameter]="15">
                </mat-spinner>
              </mat-checkbox>
            </div>
            <div class="col-md-4">
              <mat-checkbox formControlName="checkCadesp">Cadesp <mat-spinner
                  *ngIf="consultando && formulario.get('checkCadesp').value === true" [diameter]="15">
                </mat-spinner>
              </mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-checkbox formControlName="checkCaged">Caged <mat-spinner
                  *ngIf="consultando && formulario.get('checkCaged').value === true" [diameter]="15">
                </mat-spinner>
              </mat-checkbox>
            </div>
            <div class="col-md-4">
              <mat-checkbox formControlName="checkCensec">Censec <mat-spinner
                  *ngIf="consultando && formulario.get('checkCensec').value === true" [diameter]="15">
                </mat-spinner>
              </mat-checkbox>
            </div>
            <div class="col-md-4">
              <mat-checkbox formControlName="checkDetran">Detran <mat-spinner
                  *ngIf="consultando && formulario.get('checkDetran').value === true" [diameter]="15">
                </mat-spinner>
              </mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-checkbox formControlName="checkInfocrim">Infocrim <mat-spinner
                  *ngIf="consultando && formulario.get('checkInfocrim').value === true" [diameter]="15">
                </mat-spinner>
              </mat-checkbox>
            </div>
            <div class="col-md-4">
              <mat-checkbox formControlName="checkJucesp">Jucesp <mat-spinner
                  *ngIf="consultando && formulario.get('checkJucesp').value === true" [diameter]="15">
                </mat-spinner>
              </mat-checkbox>
            </div>
            <div class="col-md-4">
              <mat-checkbox formControlName="checkSiel">Siel <mat-spinner
                  *ngIf="consultando && formulario.get('checkSiel').value === true" [diameter]="15">
                </mat-spinner>
              </mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-checkbox formControlName="checkSivec">Sivec <mat-spinner
                  *ngIf="consultando && formulario.get('checkSivec').value === true" [diameter]="15">
                </mat-spinner>
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>