<form [formGroup]="formulario">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-success">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">Configuração de Portais</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a mat-button class="nav-link active" href="#cadesp" data-toggle="tab">
                    CADESP
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#caged" data-toggle="tab">
                    CAGED
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#censec" data-toggle="tab">
                    CENSEC
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#detran" data-toggle="tab">
                    DETRAN
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#infocrim" data-toggle="tab">
                    INFOCRIM
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#siel" data-toggle="tab">
                    SIEL
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#sivec" data-toggle="tab">
                    SIVEC
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="cadesp">
              <fieldset formGroupName="cadesp">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input formControlName="login" matInput placeholder="Usuário Cadesp">
                      <mat-icon color="primary" matSuffix>person_pin</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('cadesp').get('login')"></app-error-msg>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input type="password" formControlName="senha" matInput placeholder="Senha">
                      <mat-icon color="primary" matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('cadesp').get('senha')"></app-error-msg>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="caged">
              <fieldset formGroupName="caged">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input formControlName="login" matInput placeholder="CPF Caged">
                      <mat-icon color="primary" matSuffix>person_pin</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('caged').get('login')"></app-error-msg>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input type="password" formControlName="senha" matInput placeholder="Senha">
                      <mat-icon color="primary" matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('caged').get('senha')"></app-error-msg>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="censec">
              <fieldset formGroupName="censec">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input formControlName="login" matInput placeholder="Usuário Censec">
                      <mat-icon color="primary" matSuffix>person_pin</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('censec').get('login')"></app-error-msg>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input type="password" formControlName="senha" matInput placeholder="Senha">
                      <mat-icon color="primary" matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('censec').get('senha')"></app-error-msg>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="detran">
              <fieldset formGroupName="detran">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input formControlName="login" matInput placeholder="CPF Detran">
                      <mat-icon color="primary" matSuffix>person_pin</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('detran').get('login')"></app-error-msg>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input type="password" formControlName="senha" matInput placeholder="Senha">
                      <mat-icon color="primary" matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('detran').get('senha')"></app-error-msg>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="infocrim">
              <fieldset formGroupName="infocrim">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input formControlName="login" matInput placeholder="Usuário Infocrim">
                      <mat-icon color="primary" matSuffix>person_pin</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('infocrim').get('login')"></app-error-msg>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input type="password" formControlName="senha" matInput placeholder="Senha">
                      <mat-icon color="primary" matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('infocrim').get('senha')"></app-error-msg>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="siel">
              <fieldset formGroupName="siel">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input formControlName="login" matInput placeholder="Usuário Siel">
                      <mat-icon color="primary" matSuffix>person_pin</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('siel').get('login')"></app-error-msg>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input type="password" formControlName="senha" matInput placeholder="Senha">
                      <mat-icon color="primary" matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('siel').get('senha')"></app-error-msg>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="sivec">
              <fieldset formGroupName="sivec">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <input formControlName="login" matInput placeholder="Usuário Sivec">
                      <mat-icon color="primary" matSuffix>person_pin</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('sivec').get('login')"></app-error-msg>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input type="password" formControlName="senha" matInput placeholder="Senha">
                      <mat-icon color="primary" matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="formulario.get('sivec').get('senha')"></app-error-msg>
                  </div>
                </div>
              </fieldset>
            </div>
            <button [disabled]="!formulario.valid" (click)="onSubmit()" class="pull-right" color="primary"
              mat-raised-button>Salvar
              Credenciais</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>