<ng-container *ngIf="relatorio.arpensp.cartorio">
  <div class="row">
    <div class="col-md-6">
      <a><b>Cartório:</b> {{relatorio.arpensp.cartorio}}</a>
    </div>
    <div class="col-md-6">
      <a><b>CNS:</b> {{relatorio.arpensp.cns}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Nome do Cônjuge 1:</b> {{relatorio.arpensp.conjuge1}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Nome do Cônjuge 2:</b> {{relatorio.arpensp.conjuge2}}</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5><b>Dados do Casamento</b></h5>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <a><b>Matrícula:</b> {{relatorio.arpensp.dadosCasamento.matricula}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Nome do Cônjuge 1 após casamento:</b>
        {{relatorio.arpensp.dadosCasamento.conjuge1Casamento}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Nome do Cônjuge 2 após casamento:</b>
        {{relatorio.arpensp.dadosCasamento.conjuge2Casamento}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Data do Casamento:</b>
        {{relatorio.arpensp.dadosCasamento.dataCasamento}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Data de Entrada:</b>
        {{relatorio.arpensp.dadosCasamento.dataEntrada}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Data do Registro:</b>
        {{relatorio.arpensp.dadosCasamento.dataRegistro}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Acervo:</b> {{relatorio.arpensp.dadosCasamento.acervo}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Número do Livro:</b>
        {{relatorio.arpensp.dadosCasamento.numLivro}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Número da Folha</b>
        {{relatorio.arpensp.dadosCasamento.numFolha}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Número do Registro</b>
        {{relatorio.arpensp.dadosCasamento.numRegistro}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Tipo do Livro:</b>
        {{relatorio.arpensp.dadosCasamento.tipoLivro}}</a>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="relatorio.arpensp.erro">
  {{relatorio.arpensp.erro}}
</ng-container>