<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-dark">
        <h4 class="card-title" style="text-align: center;"><a style="font-weight: bold">MP</a><a
          style="color:red; font-weight: bold">SP</a></h4>
        <p class="card-category" style="text-align: center">Login</p>
      </div>
      <div class="card-body">
        <form [formGroup]="formulario">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Usuário</mat-label>
                <input formControlName="usuario" matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Senha</mat-label>
                <input formControlName="senha" matInput type="password">
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button (click)="onSubmit()" class="btn btn-success custom-entrar pull-right">
            Entrar</button>
          <div class="clearfix"></div>
        </form>
      </div>