<ng-container *ngIf="relatorio.infocrim.data.cabecalho">
  <div class="row">
    <div class="col-md-12">
      <h4><b>INFOCRIM - Dados Criminais</b></h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <pre [outerHTML]="relatorio.infocrim.data.cabecalho"></pre>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <pre [outerHTML]="relatorio.infocrim.data.autor.dadosAutor1"></pre>
    </div>
    <div class="col-md-12">
      <pre [outerHTML]="relatorio.infocrim.data.autor.dadosAutor2"></pre>
    </div>
    <div class="col-md-12">
      <pre [outerHTML]="relatorio.infocrim.data.autor.dadosAutor3"></pre>
    </div>
    <div class="col-md-12">
      <pre [outerHTML]="relatorio.infocrim.data.autor.dadosAutor4"></pre>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <pre [outerHTML]="relatorio.infocrim.data.vitima.dadosVitima1"></pre>
    </div>
    <div class="col-md-12">
      <pre [outerHTML]="relatorio.infocrim.data.vitima.dadosVitima2"></pre>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <pre [outerHTML]="relatorio.infocrim.data.representante.dadosRepresentante1"></pre>
    </div>
    <div class="col-md-12">
      <pre [outerHTML]="relatorio.infocrim.data.representante.dadosRepresentante2"></pre>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <pre [outerHTML]="relatorio.infocrim.data.historico.historico"></pre>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="relatorio.infocrim.erro">
  <a>{{relatorio.infocrim.erro}}</a>
</ng-container>