<ng-container *ngIf="relatorio.cadesp.cabecalho">
  <div class="row">
    <div class="col-md-12">
      <h5><b>Cabeçalho</b></h5>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <a><b>Nome Empresa:</b> {{relatorio.cadesp.cabecalho.nomeEmpresa}}</a>
    </div>
    <div class="col-md-6">
      <a><b>CNPJ:</b> {{relatorio.cadesp.cabecalho.cnpj}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Inscrição Estadual:</b> {{relatorio.cadesp.cabecalho.ie}}</a>
    </div>
    <div class="col-md-6">
      <a><b>DRT:</b> {{relatorio.cadesp.cabecalho.drt}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Situação:</b> {{relatorio.cadesp.cabecalho.situacao}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Data da Inscrição:</b> {{relatorio.cadesp.cabecalho.dataInscricao}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Regime:</b> {{relatorio.cadesp.cabecalho.regime}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Posto:</b> {{relatorio.cadesp.cabecalho.posto}}</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5><b>Dados Gerais</b></h5>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <a><b>Nome Fantasia:</b> {{relatorio.cadesp.geral.nomeFantasia}}</a>
    </div>
    <div class="col-md-6">
      <a><b>CNPJ:</b> {{relatorio.cadesp.geral.cnpj}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Inscrição Estadual:</b> {{relatorio.cadesp.geral.ie}}</a>
    </div>
    <div class="col-md-6">
      <a><b>NIRE:</b> {{relatorio.cadesp.geral.nire}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Situação Cadastral:</b> {{relatorio.cadesp.geral.sitCadastral}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Ocorrência Fiscal:</b> {{relatorio.cadesp.geral.ocorrenciaFiscal}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Tipo Unidade:</b> {{relatorio.cadesp.geral.tipoUnidade}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Data Inscrição Estado:</b> {{relatorio.cadesp.geral.dtInscricaoEstado}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Data Início IE:</b> {{relatorio.cadesp.geral.dtInicioIE}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Data Início Situação:</b> {{relatorio.cadesp.geral.dtInicioSituacao}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><b>Forma de Atuação:</b> {{relatorio.cadesp.geral.formasAtuacao}}</a>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="relatorio.cadesp.erro">
  {{relatorio.cadesp.erro}}
</ng-container>