<ng-container *ngIf="relatorio.siel.data.geral">
  <div class="row">
    <div class="col-md-12">
      <h4><b>SIEL - Dados Eleitorais</b></h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <a><b>Nome:</b> {{relatorio.siel.data.geral.nome}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Nº do Título :</b> {{relatorio.siel.data.geral.titulo}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Data de Nascimento:</b> {{relatorio.siel.data.geral.dataNasc}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Zona :</b> {{relatorio.siel.data.geral.zona}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Endereço:</b> {{relatorio.siel.data.geral.endereco}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Município :</b> {{relatorio.siel.data.geral.municipio}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>UF:</b> {{relatorio.siel.data.geral.uf}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Data Domicílio :</b> {{relatorio.siel.data.geral.dataDomicilio}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Nome do Pai:</b> {{relatorio.siel.data.geral.nomePai}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Nome da Mãe :</b> {{relatorio.siel.data.geral.nomeMae}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Naturalidade:</b> {{relatorio.siel.data.geral.naturalidade}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Código de Validação :</b> {{relatorio.siel.data.geral.codValidacao}}</a>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="relatorio.siel.erro">
  {{relatorio.siel.erro}}
</ng-container>