/* You can add global styles to this file, and also import other style files */
.app-loading {
  .logo {
    width: 150px;
    height: 150px;

    // this way asset gets processed by webpack
    background: url(assets/img/gears.gif) center center no-repeat;
  }
}

@media print {
  .noPrint {
    display: none;
  }
}
