<ng-container *ngIf="relatorio.caged.autorizado_responsavel">
  <div class="row">
    <div class="col-md-12">
      <h5><b>Autorizado Responsável</b></h5>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <a>CNPJ: {{relatorio.caged.autorizado_responsavel.cnpj_cpf_cei}}</a>
    </div>
    <div class="col-md-6">
      <a>Razão Social: {{relatorio.caged.autorizado_responsavel.razao_social}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Logradouro: {{relatorio.caged.autorizado_responsavel.logradouro}}</a>
    </div>
    <div class="col-md-6">
      <a>Bairro: {{relatorio.caged.autorizado_responsavel.bairro}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Município: {{relatorio.caged.autorizado_responsavel.municipio}}</a>
    </div>
    <div class="col-md-6">
      <a>Estado: {{relatorio.caged.autorizado_responsavel.uf}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>CEP: {{relatorio.caged.autorizado_responsavel.cep}}</a>
    </div>
    <div class="col-md-6">
      <a>Nome: {{relatorio.caged.autorizado_responsavel.razao_social}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>CPF: {{relatorio.caged.autorizado_responsavel.cpf}}</a>
    </div>
    <div class="col-md-6">
      <a>Telefone: {{relatorio.caged.autorizado_responsavel.telefone}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Ramal: {{relatorio.caged.autorizado_responsavel.ramal}}</a>
    </div>
    <div class="col-md-6">
      <a>Email: {{relatorio.caged.autorizado_responsavel.email}}</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h5><b>Empresa</b></h5>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <a>CNAE: {{relatorio.caged.empresa.atividade_economica_cnae}}</a>
    </div>
    <div class="col-md-6">
      <a>Número de Filiais: {{relatorio.caged.empresa.totais.numero_filiais}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Admissões: {{relatorio.caged.empresa.totais.admissoes}}</a>
    </div>
    <div class="col-md-6">
      <a>Variação Absoluta: {{relatorio.caged.empresa.totais.variacao_absoluta}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Total de Vínculos: {{relatorio.caged.empresa.totais.total_vinculos}}</a>
    </div>
    <div class="col-md-6">
      <a>Desligamentos: {{relatorio.caged.empresa.totais.desligamentos}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Primeiro Dia: {{relatorio.caged.empresa.totais.primeiro_dia}}</a>
    </div>
    <div class="col-md-6">
      <a>Último Dia: {{relatorio.caged.empresa.totais.ultimo_dia}}</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h5><b>Dados do Trabalhador</b></h5>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <a>Nome: {{relatorio.caged.trabalhador.nome}}</a>
    </div>
    <div class="col-md-6">
      <a>PIS Base: {{relatorio.caged.trabalhador.pis_base}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>CPF: {{relatorio.caged.trabalhador.cpf}}</a>
    </div>
    <div class="col-md-6">
      <a>CTPS: {{relatorio.caged.trabalhador.ctps}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Situação PIS: {{relatorio.caged.trabalhador.situacao_pis}}</a>
    </div>
    <div class="col-md-6">
      <a>Nacionalidade: {{relatorio.caged.trabalhador.nacionalidade}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Grau de Instrução: {{relatorio.caged.trabalhador.grau_de_instrucao}}</a>
    </div>
    <div class="col-md-6">
      <a>Pessoa Com Deficiência: {{relatorio.caged.trabalhador.pcd}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Data de Nascimento: {{relatorio.caged.trabalhador.data_nascimento}}</a>
    </div>
    <div class="col-md-6">
      <a>Sexo: {{relatorio.caged.trabalhador.sexo}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Raça: {{relatorio.caged.trabalhador.raca}}</a>
    </div>
    <div class="col-md-6">
      <a>Tempo de Trabalho CAGED: {{relatorio.caged.trabalhador.tempo_trabalho.caged}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a>Tempo de Trabalho Rais: {{relatorio.caged.trabalhador.tempo_trabalho.rais}}</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h5><b>Vínculos do Trabalhador</b></h5>
    </div>
  </div>

  <hr>

  <ng-container *ngFor="let vinculo of relatorio.caged.trabalhador.vinculos_trabalhador">
    <div class="row">
      <div class="col-md-6">
        <a>Fonte: {{vinculo.fonte}}</a>
      </div>
      <div class="col-md-6">
        <a>Razão Social: {{vinculo.razao_social}}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a>CNPJ: {{vinculo.cnpj}}</a>
      </div>
      <div class="col-md-6">
        <a>CEI: {{vinculo.cei}}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a>Data de Entrada: {{vinculo.entrada}}</a>
      </div>
      <div class="col-md-6">
        <a>Data de Saída: {{vinculo.saida}}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a>Situação: {{vinculo.situacao}}</a>
      </div>
    </div>
    <hr>
  </ng-container>

</ng-container>

<ng-container *ngIf="!relatorio.caged.autorizado_responsavel">
  <a>{{ relatorio.caged }}</a>
</ng-container>