<ng-container *ngIf="relatorio.caged.data.autorizado_responsavel">
  <div class="row">
    <div class="col-md-12">
      <h5><b>Autorizado Responsável</b></h5>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <a><b>CNPJ:</b> {{relatorio.caged.data.autorizado_responsavel.cnpj_cpf_cei}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Razão Social:</b> {{relatorio.caged.data.autorizado_responsavel.razao_social}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Logradouro:</b> {{relatorio.caged.data.autorizado_responsavel.logradouro}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Bairro:</b> {{relatorio.caged.data.autorizado_responsavel.bairro}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Município:</b> {{relatorio.caged.data.autorizado_responsavel.municipio}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Estado:</b> {{relatorio.caged.data.autorizado_responsavel.uf}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>CEP:</b> {{relatorio.caged.data.autorizado_responsavel.cep}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Nome:</b> {{relatorio.caged.data.autorizado_responsavel.razao_social}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>CPF:</b> {{relatorio.caged.data.autorizado_responsavel.cpf}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Telefone:</b> {{relatorio.caged.data.autorizado_responsavel.telefone}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Ramal:</b> {{relatorio.caged.data.autorizado_responsavel.ramal}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Email:</b> {{relatorio.caged.data.autorizado_responsavel.email}}</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h5><b>Empresa</b></h5>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <a><b>CNAE:</b> {{relatorio.caged.data.empresa.atividade_economica_cnae}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Número de Filiais:</b> {{relatorio.caged.data.empresa.totais.numero_filiais}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Admissões:</b> {{relatorio.caged.data.empresa.totais.admissoes}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Variação Absoluta:</b> {{relatorio.caged.data.empresa.totais.variacao_absoluta}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Total de Vínculos:</b> {{relatorio.caged.data.empresa.totais.total_vinculos}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Desligamentos:</b> {{relatorio.caged.data.empresa.totais.desligamentos}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Primeiro Dia:</b> {{relatorio.caged.data.empresa.totais.primeiro_dia}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Último Dia:</b> {{relatorio.caged.data.empresa.totais.ultimo_dia}}</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h5><b>Dados do Trabalhador</b></h5>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <a><b>Nome:</b> {{relatorio.caged.data.trabalhador.nome}}</a>
    </div>
    <div class="col-md-6">
      <a><b>PIS Base:</b> {{relatorio.caged.data.trabalhador.pis_base}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>CPF:</b> {{relatorio.caged.data.trabalhador.cpf}}</a>
    </div>
    <div class="col-md-6">
      <a><b>CTPS:</b> {{relatorio.caged.data.trabalhador.ctps}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Situação PIS:</b> {{relatorio.caged.data.trabalhador.situacao_pis}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Nacionalidade:</b> {{relatorio.caged.data.trabalhador.nacionalidade}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Grau de Instrução:</b> {{relatorio.caged.data.trabalhador.grau_de_instrucao}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Pessoa Com Deficiência:</b> {{relatorio.caged.data.trabalhador.pcd}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Data de Nascimento:</b> {{relatorio.caged.data.trabalhador.data_nascimento}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Sexo:</b> {{relatorio.caged.data.trabalhador.sexo}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Raça:</b> {{relatorio.caged.data.trabalhador.raca}}</a>
    </div>
    <div class="col-md-6">
      <a><b>Tempo de Trabalho CAGED:</b> {{relatorio.caged.data.trabalhador.tempo_trabalho.caged}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a><b>Tempo de Trabalho Rais:</b> {{relatorio.caged.data.trabalhador.tempo_trabalho.rais}}</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h5><b>Vínculos do Trabalhador</b></h5>
    </div>
  </div>

  <hr>

  <ng-container *ngFor="let vinculo of relatorio.caged.data.trabalhador.vinculos_trabalhador">
    <div class="row">
      <div class="col-md-6">
        <a><b>Fonte:</b> {{vinculo.fonte}}</a>
      </div>
      <div class="col-md-6">
        <a><b>Razão Social:</b> {{vinculo.razao_social}}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a><b>CNPJ:</b> {{vinculo.cnpj}}</a>
      </div>
      <div class="col-md-6">
        <a><b>CEI:</b> {{vinculo.cei}}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a><b>Data de Entrada:</b> {{vinculo.entrada}}</a>
      </div>
      <div class="col-md-6">
        <a><b>Data de Saída:</b> {{vinculo.saida}}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a><b>Situação:</b> {{vinculo.situacao}}</a>
      </div>
    </div>
    <hr>
  </ng-container>

</ng-container>

<ng-container *ngIf="relatorio.caged.erro">
  <a>{{ relatorio.caged.erro }}</a>
</ng-container>